## 0.end to end scikit-learn workflow

In [10]:
import numpy as np

## 1.get the data ready

In [1]:
import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
#Create X(features matrix)
X = heart_disease.drop("target",axis=1)
#Create y (label)
y = heart_disease["target"]

# 2.choose the right model and hyperpaarameters

In [3]:

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
#getting parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

## 3.Fit the model to the training data

In [4]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y , test_size=0.2)

In [7]:
clf.fit(X_train,y_train);

In [19]:
# make prediction
y_preds=clf.predict(X_test)
y_preds

array([0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1])

In [20]:
y_test

249    0
160    1
46     1
33     1
251    0
      ..
286    0
151    1
62     1
174    0
8      1
Name: target, Length: 61, dtype: int64

## 4.Evalute the model on train data and test data

In [21]:

clf.score(X_train,y_train)

1.0

In [23]:
#accuracy
clf.score(X_test,y_test)

0.8524590163934426

In [24]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [25]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       1.00      0.72      0.84        32
           1       0.76      1.00      0.87        29

    accuracy                           0.85        61
   macro avg       0.88      0.86      0.85        61
weighted avg       0.89      0.85      0.85        61

In [26]:
confusion_matrix(y_test,y_preds)

array([[23,  9],
       [ 0, 29]])

In [27]:
accuracy_score(y_test,y_preds)

0.8524590163934426

## 5 improve a model

In [30]:

#try difference amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
               print(f"Trying model with {i} estimators...")
               clf = RandomForestClassifier(n_estimators =i).fit(X_train,y_train)
               print(f"Model accuracy on test set :{clf.score(X_test,y_test)*100:.2f}%")
               print("")

Trying model with 10 estimators...
Model accuracy on test set :81.97%

Trying model with 20 estimators...
Model accuracy on test set :85.25%

Trying model with 30 estimators...
Model accuracy on test set :85.25%

Trying model with 40 estimators...
Model accuracy on test set :81.97%

Trying model with 50 estimators...
Model accuracy on test set :81.97%

Trying model with 60 estimators...
Model accuracy on test set :83.61%

Trying model with 70 estimators...
Model accuracy on test set :85.25%

Trying model with 80 estimators...
Model accuracy on test set :86.89%

Trying model with 90 estimators...
Model accuracy on test set :88.52%

## 6 save the model and load it

In [31]:

import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb") )

In [33]:
loaded_model=pickle.load(open("random_forest_model_1.pkl" ,"rb"))
loaded_model.score(X_test,y_test)

0.8852459016393442